$color-primary: #55c57a;
$color-primary-light: #F4F4F4;
$color-primary-dark:  rgb(185, 185, 185);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-quartery-light: #89d6a3 ;
$color-quartery-dark: #1fc557;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-primary-red: rgb(109,4,4);
$color-primary-red-light: rgb(209, 4, 4);
$color-primary-red-light-2: rgb(252, 9, 9);
//GRID
$grid-width: 114rem;


$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;